:root {
  --color-pure-white: #ffffff;
  --color-grey: rgba(25, 24, 43, 0.25);
  --color-pale-navy: #36384d;
  --color-dark-navy: #242742;
  --color-vermellion: #ff6155;
  --color-gradient1: linear-gradient(#ff6a3a, #ff527b);
  --shadow1: 0 8px 0 #000;
  --shadow2: 0 24px 32px 0 rgba(255, 97, 85, 0.25);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  min-height: 100dvh;
}
html {
  box-sizing: border-box;
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
  cursor: auto; /* or pointer if you want to keep the default hand cursor */
}

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
