@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.signup {
  display: flex;
  max-width: 92.8rem;
  gap: 6.4rem;
  background-color: var(--color-pure-white);
  border-radius: 36px;

  @include respond(tab-port) {
    flex-direction: column;
    max-width: 37.5rem;
    padding: 0;
    border-radius: 0;
    gap: 4rem;
  }
  &__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 6.4rem;
    @include respond(tab-port) {
      order: 2;
      padding: 0rem 2.4rem 4rem;
    }
    &__heading {
      margin: 9.7rem 0 2.4rem 0;
      @include respond(tab-port) {
        margin-bottom: 2.4rem;
        margin-top: 0;
      }
    }
    &__hero {
      margin-bottom: 2.4rem;
    }
    &__list {
      list-style-type: none;
      padding-left: 0;
      gap: 1rem;
      margin: 0 0 4rem 0;
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      &__el {
        position: relative;
        padding-left: 3.6rem;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 21px;
          height: 21px;
          background: url("/public/icon-list.svg") no-repeat center center;
          background-size: contain;
        }
      }
    }

    &__form {
      align-self: self-start;
      width: 100%;
      &__email {
        display: flex;
        flex-direction: column;
        &__label {
          margin-bottom: 0.8rem;
        }
        &__container {
          display: flex;
          justify-content: space-between;
          &__error {
            color: var(--color-vermellion);
          }
        }
        &__input {
          border: 1px solid var(--color-grey);
          border-radius: 8px;
          margin-bottom: 2.4rem;
          padding: 1.6rem 0 1.6rem 2.4rem;
          transition: all 0.3s ease;
          &-error {
            color: var(--color-vermellion);
            border: 1px solid var(--color-vermellion);
            background-color: rgba(255, 97, 85, 0.15);
            animation: shake 0.3s;
          }
        }
      }
    }
  }
  &__img {
    // max-width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 16px;
    padding: 2.4rem 2.4rem 2.4rem 0;

    @include respond(tab-port) {
      order: 1;
      border-radius: 0;
      padding: 0;
    }
  }
}

.modal__subscription {
  max-width: 50.4rem;
  margin-top: 28rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4.8rem 6.4rem;
  background-color: var(--color-pure-white);
  border-radius: 36px;
  @include respond(tab-port) {
    border-radius: 0;
    margin-top: 26rem;
  }
  &__icon {
    margin-bottom: 4rem;
  }
  &__heading {
    margin-bottom: 2.4rem;
  }
  &__txt {
    margin-bottom: 4rem;
  }
}
